@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  @media (orientation: portrait) {
    .h-portrait-60 {
      height: 60vh;
    }
  }

  @media (orientation: landscape) {
    .h-landscape-full {
      height: 100vh;
    }
  }
}


